<!DOCTYPE html>
<html ng-app="guestApp">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


		<title>Sea</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Optional theme -->
        

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="assets/css/bootstrap/bootstrap-responsive.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <link href="assets/css/guest.css" rel="stylesheet">
    	
		
	</head>
	<body>

		<!-- <video autoplay  poster="assets/imgs/background_loop.jpg" id="bgvid" loop>
			<source src="assets/videos/Background_Loop.webm" type="video/webm">
			<source src="assets/videos/Background_Loop.mp4" type="video/mp4">
		</video> -->

		<div class="container-fluid">
            <div class="row-fluid top30 pagetitle">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12"><h1>Sea&Hotel</h1></div>


                    </div>

                </div>



            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="">Search</h4>

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default btn-sm btn-block hidden-lg hidden-md" data-toggle="collapse" data-target="#demo">Refine your search <span class="caret"></span>

                        </button>

                        <div id="demo" class="collapse in" ng-controller="MenuController">
                            <hr>
                            <div class="list-group list-group">
                                <h4 class="">Category</h4>
                                <a href="#/" class="list-group-item"><span class="badge">14</span> Active item <span class="label label-primary">New</span></a>

                                <a ng-href="#/sea/{{item.id}}/news" class="list-group-item" ng-repeat="item in menu | limitTo:5"><span class="badge">{{ item.count }}</span> {{ item.name }} </a>


                                <div id="categories" class="collapse">
                                    <a ng-href="#/sea/{{item.id}}/news" class="list-group-item" ng-repeat="item in menu" ng-if="$index >= 5"><span class="badge">{{ item.count }}</span> {{ item.name }}</a>
                                </div>


                                <button class="btn btn-default btn-sm btn-block" data-toggle="collapse" data-target="#categories">More <span class="caret"></span></button>

                                <hr class="">
                                <h4 class="">Viewing Options</h4>
                                <a href="#" class="list-group-item"><span class="badge">14</span> Upcoming Sessions</a>

                                <a href="#" class="list-group-item"><span class="badge">3</span> OnDemand</a>
                                <hr class="">
                                <a href="#" class="list-group-item">Archived Courses</a>
                                <a href="#" class="list-group-item">Courses In Development</a>
                            </div>
                        </div>



                        <div class="hidden-sm hidden-xs">

                            <hr>

                            <div class="well">

                                <h4>Premium Membership</h4>
                                <p>Gain unlimited access to our entire course library.</p>
                                <button class="btn btn-sm btn-warning">Learn more</button>

                                <hr>
                                <p class="text-center ">Already a member? <a href="#">Sign in.</a></p>
                            </div>


                            <hr>

                            <div class="well">

                                <h4>Course Catalog</h4>
                                <p><a href="#"><img src="http://placehold.it/400X500" class="img-responsive"></a></p>

                                <p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>

                                <button class="btn btn-sm btn-block btn-warning">Download</button>
                            </div>

                            <hr>

                            <h4 class="text-center">CPE Partners</h4>

                            <p><a href="#"><img class="center-block" src="http://placehold.it/100X100"></a></p>



                        </div>

                    </div>
                    <div class="col-md-9">


                        <div class="well hidden-xs">

                            <div class="row">

                                <div class="col-xs-4">


                                    <select class="form-control">
                                        <option>Featured</option>
                                        <option>Recently Added</option>
                                        <option>Next Upcoming Session</option>
                                        <option>A-Z</option>
                                        <option>Z-A</option>
                                    </select>
                                </div>
                                <div class="col-xs-8">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span></button>
                                        <button type="button" class="btn btn-default active"><span class="glyphicon glyphicon-th-list"></span></button>
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span></button>

                                    </div>
                                </div>

                            </div>





                        </div>

                        <hr>

			            <div ng-view></div>

                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
		</div>

		<script src="assets/js/jquery.min.js"></script>
	    <script src="assets/js/angular.min.js"></script>
	    <script src="assets/js/bootstrap/bootstrap.min.js"></script>

		<script type="text/javascript" src="app/app.js"></script>
		<script type="text/javascript" src="//code.angularjs.org/1.4.8/angular-route.js"></script>

		<script type="text/javascript" src="app/homeController.js"></script>
		<script type="text/javascript" src="app/menuController.js"></script>
		<script type="text/javascript" src="app/seaController.js"></script>
		<script type="text/javascript" src="app/postController.js"></script>
		<script type="text/javascript" src="app/seaAboutTabController.js"></script>
		<script type="text/javascript" src="app/seaHotelTabController.js"></script>
		<script type="text/javascript" src="app/hotelPostController.js"></script>


		<script type="text/javascript" src="app/configRoute.js"></script>
        <script type="text/javascript" src="assets/js/angular-local-storage.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>

        <script src="assets/js/ng-map.min.js"></script>
        <script src="http://maps.google.com/maps/api/js"></script>


		
	</body>
</html>
