<div class="row">

    <p>Media gallery design emelents</p>

    <div class="col-md-55" ng-repeat="hotel in hotels">
        <div class="thumbnail">
            <div class="image view view-first">
                <img style="width: 100%; display: block;" src="assets/imgs/hotel.jpg" alt="image" />
                <div class="mask">
                    <p>{{ hotel.name }}</p>
                    <div class="tools tools-bottom">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a ui-sref="home.hotel.add"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
            <div class="caption">
                <p>Snow and Ice Incoming for the South</p>
            </div>
        </div>
    </div>



</div>